.transition_button {
    margin-right: 0px;
    padding: 0px;
    border-width: 0px;
}

.button-separator-group button {
    margin-right: 0px;
}

.button-separator {
    margin-left: 0px;
    margin-right: 4px;
}

.riverflow_end_state {
    color: map-get($o-theme-text-colors, 'success');
}

.riverflow_pending_state {
    color: map-get($o-theme-text-colors, 'danger');
}